VITE_GOOGLE_APPS_SCRIPT_URL=

# EmailJS (envio do email de confirmação sem backend próprio)
# Crie uma conta em https://www.emailjs.com/, cadastre um serviço de email
# (Gmail, Outlook, SMTP, etc.) e um template com os campos:
#   {{to_email}}, {{to_name}} e {{{message_html}}} (chaves triplas = HTML puro)
# Em Account > Security, habilite "Allow EmailJS API for non-browser applications".
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
